{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="container">

  <div class="product-left">
    {% for image in product.images %}
        <img src="{{image | image_url: master }}"/>
    {% endfor %}
  </div>

  <div class="product-right">
      <h1>{{ product.title }}</h1>
  </div>

  <div class="product-prices">
    <p class="product-price">
      {{ product.selected_or_first_available_variant.price | money }}
    </p>
  </div>

  <div class="product-description">
    {{ prodct.description }}
  </div>

  {% form 'product', product %}

    <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id}}">

    {% if product.variants.size > 1 %}
    <div class="product-option">
      {% for option in product.options_with_values %}

          <fieldset>
            <legend>{{ option.name }}</legend>
            {% for value in option.values %}
                <div>
                   <input 
                   {% if option.selected_value == value %} checked {% endif %}
                   type="radio" name="{{ option.name }}"
                   value="{{ value}}"
                   id="{{ option.name | handlize }}-{{ value| handlize }}"
                   
                   >

                   <label for="{{ option.name | handlize }}-{{ value| handlize }}">{{ value }}</label>
                </div>
            {% endfor %}
          </fieldset>
      {% endfor %}
    </div>
    {% endif %}

    <div class="product-quantity">
      <label for="quantity">Quantity</label>
      <input type="text" name="quantity" min="1" value="1">
    </div>

    <button type="submit"> Add To Cart</button>

  {% endform %}

</div>


<script>
  var product = {{ product | json }}
  console.log(product)

  document.querySelectorAll('.product-option input[type="radio"]').forEach( radio => {

    radio.addEventListener('change', ()=> {
      // find selected option
      var selectedOption = []

      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio => {
        selectedOption.push(radio.value)
      })

      // Findign match variants
      var matchVariant = product.variants.find(variant => {
        var pass = true
        for( var i = 0; i< selectedOption.length; i++){
          if(selectedOption.indexOf(variant.options[i]) === -1){
            pass = false
            break
          }
        }
        return pass
      })

      // Change product form varinats id

      document.querySelector('#product-id').value = matchVariant.id

      // Change url 
      var url = new URLParse(window.location.href, true)
      url.query.variant = matchVariant.id
      window.history.replaceState(null, null, url.toString());
        console.log();
    })


  })
</script>